mixin slide(img)
	.picture
		img(src="assets/img/slide/#{img}.jpg" alt="Vidrioluz slide")

		
mixin slide-(carpeta, img, num)
	.picture
		img(src="assets/img/vidrios#{carpeta}/#{img}-#{num}.jpg")



mixin vidrio(img, h3, enlace)
	a(href="productos-vidrios#{enlace}.html").vidrio.folder
		figure
			img(src="assets/img/folders/#{img}.jpg", alt="Vidrioluz - #{h3}")
		h3 #{h3}