mixin slide(img, h3)
	.picture
		img(src="assets/img/slide/#{img}.jpg" alt="Vidrioluz slide")
		h3 #{h3}
		
mixin slide-(img, tipo, formato)
	.picture
		img(src="assets/img/vidrios#{tipo}/#{img}-#{formato}.jpg")

mixin vidrio(img, h3)
	a(href="productos-vidrios#{h3}.html").vidrio.folder
		figure
			img(src="assets/img/folders/#{img}.jpg", alt="Vidrioluz - #{h3}")
		h3 #{h3}